$white: #fff;
$gold:#bd9234;
$black:#000;
$gray: #656565;
$blue: #498fcb;
$bgLightGold: #f6f2e3;
$green:#024800;
$graylight:#f2f2f2;
$bordercolor:#e7e7e7;
$greypatch:#ededed;
$darkgrey:#171717;
/* Font Family */
$regular: 'DIN-Regular';
$medium: 'DIN-Medium';
$light: 'DIN-Light';


/*Assets path and version*/
$assetPath : "../images";
$assetVersion : 0;