<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable = no" />
    <title>Lodha</title>
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="css/needsharebutton.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body class="locateUs">
    <div class="outerWrap">
        <!-- Header starts -->
        <!--#include virtual="includes/properties-header.html" -->
        <!-- Header ends -->
        <!-- <div class="subHeader">
            <div class="breadcrumb">
                <ul>
                    <li><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">Residential Properties</a></li>
                    <li><a href="javascript:;">Amara</a></li>
                    <li>About</li>
                </ul>
            </div>
            <div class="topNav">
                <ul class="mobileNav owl-carousel">
                    <li><a href="javascript:;">About</a></li>
                    <li><a href="javascript:;" class="active">Location</a></li>
                    <li><a href="javascript:;">Plans</a></li>
                    <li><a href="javascript:;">Price</a></li>
                    <li><a href="javascript:;">Amenities</a></li>
                    <li><a href="javascript:;">Gallery</a></li>
                </ul>
            </div>
        </div> -->
        <!-- Header ends -->
        <div class="wrap1900">
            <section class="residential allproperty">
                <div class="container searchproperty">
                    <div class="search">
                        <div class="inputWrap">
                            <input type="text" name="">
                        </div>
                        <a href="javascript:;" class="searchIcon">Search</a>
                    </div>
                </div>
                <div class="container">
                    <div class="searchfilter">
                        <div class="field">
                            <div class="selectWrapper refineicon">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Refine Search</option>
                                    <option>New Property</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="selectWrapper sortbyicon">
                                <div class="selectedvalue"></div>
                                <select name="">
                                    <option value="" selected>Sort By</option>
                                    <option>New Property</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p class="resultitle"><span>40</span> Properties matching your search</p>
                    <div class="searchresult">
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 1</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <a href="javascript:void(0);" class="viewIcon"></a>
                                    <!-- <span class="sprite-star"></span> -->
                                    <!-- <img src="images/viewicon.png" alt="star"> -->
                                    <img src="images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp custCarou">
                                <div class="inner-slider">
                                    <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                                <img src="images/aspi/fav-icon.png" alt="fav-icon">
                                            </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag black">Commercial</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 2</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <a href="javascript:void(0);" class="viewIcon"></a>
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp custCarou">
                                <div class="inner-slider">
                                    <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                    <img src="images/aspi/fav-icon.png" alt="fav-icon">
                                </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag grey">Township</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 3</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <a href="javascript:void(0);" class="viewIcon"></a>
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp custCarou">
                                <div class="inner-slider">
                                    <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                                <img src="images/aspi/fav-icon.png" alt="fav-icon">
                                            </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 4</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <a href="javascript:void(0);" class="viewIcon"></a>
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp custCarou">
                                <div class="inner-slider">
                                    <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                    <img src="images/aspi/fav-icon.png" alt="fav-icon">
                                </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                        <div class="slides">
                            <span class="slider-tag">Residential</span>
                            <div class="res-head flex-wrp">
                                <div class="head-txt">
                                    <h3>LODHA SPLENDORA 5</h3>
                                    <p>Ghodbunder Road, Thane</p>
                                </div>
                                <div class="rating">
                                    <a href="javascript:void(0);" class="viewIcon"></a>
                                    <!-- <span class="sprite-star"></span> -->
                                    <img src="images/aspi/star.png" alt="star">
                                </div>
                            </div>
                            <div class="inner-wrp custCarou">
                                <div class="inner-slider">
                                    <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                <img src="images/aspi/slide1.jpg" alt="resident-image">
                <img src="images/aspi/slide2.jpg" alt="resident-image">
                                </div>
                                <span class="fav-icon">
                                                <img src="images/aspi/fav-icon.png" alt="fav-icon">
                                            </span>
                            </div>
                            <div class="possession-wrp">
                                <p>Possession Date: <b>Oct 2019</b></p>
                                <p>Typology: <b>2, 3 BHK</b> | Price: <b>2.5 to 5 Cr</b></p>
                                <p><span>Offer : 5:90:5 Scheme</span></p>
                            </div>
                            <div class="slide-footer">
                                <a href="javascript:;">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--#include virtual="includes/footer.html" -->
    </div>
    <!--main menu starts from here-->
    <!--#include virtual="includes/menu-overlay.html" -->
        <!--main menu ends here-->
    <!-- Get in touch popup -->
    <div class="modal" id="getInTouch">
        <div class="modalBody">
            <div class="close">Close</div>
            <!--#include virtual="includes/get-in-touch.html" -->
        </div>
    </div>
    <!-- Get in touch popup -->
    <script type="text/javascript" src="javascript/jquery.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script> -->
    <script async defer type="text/javascript" src="javascript/map-places-search.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWus3m2h3YdxBOz9XPyzqgATz-hzBklLo&libraries=places&callback=initMap">
    </script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery-ui.js"></script>
    <script type="text/javascript" src="javascript/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="javascript/snap.svg.js"></script>
    <script type="text/javascript" src="javascript/svg-and-scroll.js"></script>
    <script type="text/javascript" src="javascript/needsharebutton.min.js"></script>
    <script type="text/javascript" src="javascript/new-common.js"></script>
    <!-- <script type="text/javascript" src="javascript/common.js"></script>
    <script type="text/javascript" src="javascript/priva.js"></script>
    <script type="text/javascript" src="javascript/common_am.js"></script>
    <script type="text/javascript" src="javascript/common_ri.js"></script> -->
</body>

</html>