.price-banner {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    .wrapper {
        max-width: 750px;
        width: 100%;
        justify-content: flex-start;
    }
    p {
        padding: inherit;
        margin-right: 35px;
        font-size: 16px;
        font-family: $regular;
    }
}