
<div class="item">
    <div class="wrapper flex-wrp">
        <span class="square one"></span>
        <span class="square two"></span>
        <span class="square three"></span>
        <span class="square four"></span>
        <div class="pillar-img">
            <img src="{{ directory }}/images/aspi/servive-slide1.png" alt="service-slide"> {# data.fieldImagePath#}
        </div>
        <p class="details"></p>{#data#}
        <div class="pillar-hover">
            <p></p> {#data#}
            <div class="know-btn">
                <button class="btn">know more</button>
            </div>
        </div>
    </div>
</div>