<div class="container">
    <div class="accordian-container">
        <p class="heading">Infrastructure Developments</p>
        <div class="accordCont">
            <h1>h1 heading</h1>
            <h2>h2 heading</h2>
            <h3>h3 heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing elit. Phasellus pharetra</strong> libero congue urna lobortis rhoncus. Nunc cursus augue nec ultrices imperdiet. Cras rhoncus ultrices est, sed maximus justo consectetur vel. Etiam varius non mi id vestibulum. Integer aliquet blandit lacus. Quisque pretium justo quis posuere venenatis. Phasellus feugiat arcu eget auctor rutrum. Etiam accumsan nisi ut dolor euismod venenatis. Nunc lobortis ullamcorper dui vitae venenatis. Maecenas eget risus ut diam convallis mollis. Praesent non ligula risus. Cras finibus vitae mauris ac efficitur.</p>
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Table Title</th>
                    <th>Table Title</th>
                    <th>Table Title</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                </tr>
                <tr>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                </tr>
                <tr>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                </tr>
                <tr>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                    <td>Table Cont</td>
                </tr>
                </tbody>
            </table>
            <ul>
                <li>Unordered List</li>
                <li>Unordered List</li>
                <li>Unordered List</li>
                <li>Unordered List</li>
                <li>Unordered List</li>
            </ul>
            <ol>
                <li>Ordered List</li>
                <li>Ordered List</li>
                <li>Ordered List</li>
                <li>Ordered List</li>
                <li>Ordered List</li>
            </ol>
        </div>
    </div>
</div>