<div id="internal1" class="amenityTabs">
    <div class="thumbSlider">
        <div id="internalPaging" class="paging">
            <span class="currentSlide">1</span> / <span class="totalSlides"></span>
        </div>
        <div class="sliderAmenities flexslider" navFor="internalPaging">
            <ul class="slides flexImg">
                <li>
                    <img src="{{ directory }}/images/floor-plan.jpg" />
                    <p class="flex-caption">Modern, fully air-conditioned residence Internal</p>
                </li>
                <li>
                    <img src="{{ directory }}/images/floor-plan.jpg" />
                    <p class="flex-caption">Modern, fully air-conditioned residence</p>
                </li>
                <li>
                    <img src="{{ directory }}/images/floor-plan.jpg" />
                    <p class="flex-caption">Modern, fully air-conditioned residence</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="listComponent hidden" id="list1">
            <p>Dedicated wardrobe niches, separate store room^, puja room and utility area</p>
            <p>Marbital® flooring** in the living room, dining room, passage areas & bedrooms</p>
            <p>High-quality bath fittings by Roca, Kohler and Jaquar**</p>
            <p>Dedicated wardrobe niches, separate store room^, puja room and utility area</p>
            <p>Marbital® flooring** in the living room, dining room, passage areas & bedrooms</p>
            <p>High-quality bath fittings by Roca, Kohler and Jaquar**</p>
        </div>
        <p class="toggleBtn"><a href="javascript:;" toggleContent="list1"><span class="more">More <span class="operators">+</span></span><span class="less">less <span class="operators">-</span></span></a></p>
        <p class="notes">*Except kitchen, passage and bathroom</p>
    </div>
</div>