<!-- supremus-locate-us-accordian start-->
<p class="heading">Multimodal Connectivity</p>
<div class="accordCont">
    <div class="nearest">
        <p>
            Borivali <span>20mins</span>
        </p>
        <p>
            Chhatrapati International Airport <span>45mins</span>
        </p>
        <p>
            Bandra Kurla Complex <span>50mins</span>
        </p>
        <p>
            Vikroli <span>25mins</span>
        </p>
    </div>
</div>
<!-- supremus-locate-us-accordian end-->