<!-- Residential-priceDetailsBanner-container starts-->
<div class="container">
    <div class="wrapper">
        <p>
            Price:
            <strong>₹69.3 Lacs onwards</strong>
        </p>
        <p>
            Typology:
            <strong>2, 3 BHK</strong>
        </p>
        <p>
            Possession Date:
            <strong>Oct 2019</strong>
        </p>
        <p>
            Location:
            <strong>Thane</strong>
        </p>
    </div>
</div>
<div class="propertyMenu">
    <p class="fav">
        <a href="javascript:;">
            <img src="{{ directory }}/images/icon-favourite-gold.png" alt="">
        </a>
    </p>
    <p id="share-button-2" class="need-share-button-default" data-share-icon-style="box" data-share-networks="Mailto,Twitter,Facebook,Linkedin"></p>
    <p class="download">
        <a href="javascript:;" target="_blank">
            <img src="{{ directory }}/images/icon-download.png" alt="">
        </a>
    </p>
</div>
<!-- Residential-priceDetailsBanner-container ends-->