<!-- topnav starts-->
<div class="topNav flex-wrp">
    <ul class="owl-carousel">
        <li>
            <a href="aspi.html" class="active">About</a>
        </li>
        <li>
            <a href="locate.html">Location</a>
        </li>
        <li>
            <a href="plans-prices.html">Plans & Price</a>
        </li>
        <li>
            <a href="amenities.html">Amenities</a>
        </li>
        <li>
            <a href="gallery.html">Gallery</a>
        </li>
    </ul>
    <div class="enquire-block">
        <a href="javascript:;" class="modalOpen" data-modal-id="getInTouch">
                <span class="fav-icon">
                    <img src="../images/icon-enquire.png" alt="">
                </span>
            <span>Enquire</span>
        </a>
    </div>
</div>
<!-- topnav ends-->