<div class="content">
    <div class="imgWrapContainer">
        <div class="imgWrap" style="background: url('images/commercial/warehouse.jpg') no-repeat center center">
        </div>
    </div>
    <div class="container">
        <p>
            Lodha Group has delivered approximately 5 million sq. ft. of office spaces with approximately 11 million sq. ft. of planned developments.
        </p>
        <div class="knowMore"><a href="javascript:void(0);">Know More</a></div>
    </div>
</div>