
<div class="container paddingBoth">
    <div class="wrapper">
        <div class="members-enrolled">
            <h3>47000+</h3>
            <span>Members enrolled till date</span>
        </div>
        <div class="members-enrolled">
            <h3>97Cr+</h3>
            <span>Members enrolled till date</span>
        </div>
        <div class="members-enrolled">
            <h3>20+</h3>
            <span>Members enrolled till date</span>
        </div>
    </div>
</div>