<div class="searchfilter">
    <div class="field">
        <div class="selectWrapper refineicon">
            <div class="selectedvalue"></div>
            <select name="">
                <option value="" selected>Refine Search</option>
                <option>New Property</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div class="selectWrapper sortbyicon">
            <div class="selectedvalue"></div>
            <select name="">
                <option value="" selected>Sort By</option>
                <option>New Property</option>
            </select>
        </div>
    </div>
</div>