<div class="testimonials-slider owl-carousel">
    <div class="slides">
        {{  for data in  content["#data_obj"]  }}
            <img src="{{ directory }}/images//priva/profile-mandar-sohoni.jpg">
            <div class="content">
                <p>
                    I joined Lodha Group as it is one of the ambitious companies in India and has a pedigree from best colleges of the country. In last one year, LGMP has given me ample opportunities to grow professionally with challenging roles and productive work environment.
                </p>
                <h4>Samarth Sharma</h4>
            </div>
        {{% endfor% }}
       {# <img src="{{ directory }}/images//priva/profile-mandar-sohoni.jpg">
        <div class="content">
            <p>
                I joined Lodha Group as it is one of the ambitious companies in India and has a pedigree from best colleges of the country. In last one year, LGMP has given me ample opportunities to grow professionally with challenging roles and productive work environment.
            </p>
            <h4>Samarth Sharma</h4>
        </div>#}
    </div>
</div>