<div class="searchLightboxWrap overlay" style="display: block;">
    <div class="searchLightbox active">
        <a href="javascript:;" class="close"></a>
        <div class="container">
            {{ page.modal_search_searchbox_withother }}
            <div class="formWrapper">
                {{ page.block--b-modal-b-search-iwishto-block }}
                {{ page.block--b-local-tasks-block.html.twig }}
                {{ page.block--b-modal-search-possessionstatus }}
                <div class="buttonWrap">
                    <button class="btn">Search</button>
                    <button class="btn btn-black">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>