<p class="heading">I WISH TO</p>
<div class="accordianBox">
    <div class="fieldRow">
        <div class="field">
            <ul class="radioGroup">
                <li>
                    <input name="radio1" type="radio" value="" id="buy">
                    <label for="buy">Buy</label>
                </li>
                <li>
                    <input name="radio1" type="radio" value="" id="rent">
                    <label for="rent">Rent</label>
                </li>
            </ul>
        </div>
        <div class="field">
            <div class="selectWrapper defaultSel">
                <div class="selectedvalue">Type of Property</div>
                <select name="">
                    <option value="" selected="">Type of Property</option>
                    <option>Type of Property</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="selectWrapper defaultSel">
                <div class="selectedvalue">Select City</div>
                <select name="">
                    <option value="" selected="">Select City</option>
                    <option>Mumbai</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="selectWrapper defaultSel">
                <div class="selectedvalue">Select Locality</div>
                <select name="">
                    <option value="" selected="">Select Locality</option>
                    <option>Parel</option>
                </select>
            </div>
        </div>
    </div>
</div>