
<div class="wrapper flex-wrp">
    <div class="scheme-logo section-logo">
        <svg></svg>
    </div>
    <div class="scehme-txt">
        <p>
            <span>5:90:5 Scheme : </span>
            Pay only 5% now and 5% on possession, bank pays 90%^ | 0 stamp duty | only 8% GST
        </p>
    </div>
</div>