
<div class=" flexslider mobile">
  <ul class="tabs slides">          
    {% for tab in content["#data_tab"] %}
      <li><a href="javascript:;" class="active">{{ tab }}</a></li>
    {% endfor %}
  </ul>
</div>

