<p class="heading">POSSESSION STATUS</p>
<div class="accordianBox">
    <div class="fieldRow">
        <ul class="checkGroup">
            <li>
                <input name="checkbox" type="checkbox" value="" id="checkbox">
                <label for="checkbox">Ready Possesion</label>
            </li>
            <li>
                <input name="checkbox" type="checkbox" value="" id="checkbox2">
                <label for="checkbox2">Under Construction</label>
            </li>
            <li>
                <input name="checkbox" type="checkbox" value="" id="checkbox3">
                <label for="checkbox3">OC Ready</label>
            </li>
        </ul>
    </div>
</div>