<div class="container searchproperty">
    <div class="search">
        <div class="inputWrap"><input type="text" name=""></div>
        <a href="javascript:;" class="searchIcon">Search</a>
    </div>
</div>