
<div class="slide">
    <!--<p><span>1</span>BHK</p> {#data.typology#} Removed from revised version-->
    <div class="box">
        <ui>
            <li>Type <span>1BED</span></li>
            <li>Area <span>400 sq. ft</span></li>
            <li>Starting <span>69.3Lacs</span></li>
        </ui>
        <div class="hover">
            <a href="javascript:;" class="btn">Discover</a>
        </div>
    </div>
</div>
