<!-- supremus-price-plans start-->
<div class="propertyPlans">
    <div class="selectPlan">
        <p class="floor">FLOOR</p>
        <span class="prevPlan inActive">Previous</span>
        <div class="planUnitHolder">
            <div class="planUnits">
                <span>1 - 15</span>
            </div>
        </div>
        <span class="nextPlan">Next</span>
    </div>
    <div class="planTypes">
        <div class="typedropdown">
            <select name="" id="ptype">
                <option value="images/plan.jpg|images/plan.jpg|₹69.3 Lacs onwards|Oct 2019">Expansion Office 1</option>
                <option value="images/plan.jpg|images/plan.jpg|₹69.3 Lacs onwards|Oct 2021">Expansion Office 2</option>
                <option value="images/plan.jpg|images/plan.jpg|₹69.3 Lacs onwards|Oct 2033">Expansion Office 3</option>
                <option value="images/plan.jpg|images/plan.jpg|₹69.3 Lacs onwards|Oct 2045">Expansion Office 4</option>
            </select>
        </div>
        <div class="info" data-tooltip="lorem lipsumlorem lipsumlorem lipsumlorem lipsumlorem lipsumlorem lipsum">
        </div>
    </div>
    <div class="planImg"><img src="{{ directory }}/images/plan.jpg" alt=""></div>
    <div class="planControls"><a href="javascript:;" class="masterPlan" target="_blank">View Master Plan</a> <a href="javascript:;" class="zoom" data-lightbox="example-1"><span>Zoom</span></a></div>
</div>

<!-- supremus-price-plans end-->