<div class="iconicProCarousel carousel owl-carousel">
    <div class="slide">
        <div class="imgwrap"><img src="{{ directory }}/images/upload/iconic-project.jpg"></div>
        <div class="content">
            <p class="title">PALAVA</p>
            <p>India’s No.1 smart city** – planned for over 2 million residents</p>
            <a href="javascript:;" class="btn">Discover</a>
        </div>
    </div>
    <div class="slide">
        <div class="imgwrap"><img src="{{ directory }}/images/upload/iconic-project.jpg"></div>
        <div class="content">
            <p class="title">PALAVA</p>
            <p>India’s No.1 smart city** – planned for over 2 million residents</p>
            <a href="javascript:;" class="btn">Discover</a>
        </div>
    </div>
    <div class="slide">
        <div class="imgwrap"><img src="{{ directory }}/images/upload/iconic-project.jpg"></div>
        <div class="content">
            <p class="title">PALAVA</p>
            <p>India’s No.1 smart city** – planned for over 2 million residents</p>
            <a href="javascript:;" class="btn">Discover</a>
        </div>
    </div>
</div>