<div class="listComponent" id="list1">
  <p> Title: {{ content["#data_obj"]['title'] }}</p>
  <p> Body: {{ content["#data_obj"]['body'] }}</p>
    {#<p>Dedicated wardrobe niches, separate store room^, puja room and utility area</p>#}
    {#<p>Marbital® flooring** in the living room, dining room, passage areas & bedrooms</p>#}
    {#<p>High-quality bath fittings by Roca, Kohler and Jaquar**</p>#}
    {#<p>Dedicated wardrobe niches, separate store room^, puja room and utility area</p>#}
    {#<p>Marbital® flooring** in the living room, dining room, passage areas & bedrooms</p>#}
    {#<p>High-quality bath fittings by Roca, Kohler and Jaquar**</p>#}
    {#{% for data in content["#data_obj"] %}#}
          {#<p>{{ data['content'] }}</p>#}
    {#{% endfor %}#}
</div>
<p class="toggleBtn"><a href="javascript:;" toggleContent="list1"><span class="more">More <span class="operators">+</span></span><span class="less">less <span class="operators">-</span></span></a></p>
<p class="notes">*Except kitchen, passage and bathroom</p>
