<div class="container paddingBoth">
    <div class="topSection">
        <div class="sectionTitle">
            <p>Facts & Figures</p>
        </div>
        <div class="content">
            <p><span class="figure">993</span><span class="fact">Spaces leased / transactions</span></p>
            <p><span class="figure">1015</span><span class="fact">Total sqm leased</span></p>
        </div>
    </div>
</div>