<div class="pillarsCarousel owl-carousel">
    <div class="slide">
        <div class="item">
            <div class="wrapper">
                <span class="square one"></span>
                <span class="square two"></span>
                <span class="square three"></span>
                <span class="square four"></span>
                <p class="title"><strong>01</strong>Timely <span>Delivery</span></p>
                <span class="svgBox" data-svg="images/svg/timely-delivery.svg"></span>
                <p class="details">Else we pay you interest @ SBI MCLR + 2% from expiry of grace period to offer of
                    possession.</p>
            </div>
        </div>
        <div class="item">
            <div class="wrapper">
                <span class="square one"></span>
                <span class="square two"></span>
                <span class="square three"></span>
                <span class="square four"></span>
                <p class="title"><strong>02</strong>Home Loan <span>Support</span></p>
                <span class="svgBox" data-svg="images/svg/home-loan-support.svg"></span>
                <p class="details">Else we pay you interest @ SBI MCLR + 2% from expiry of grace period to offer of
                    possession.</p>
            </div>
        </div>
        <div class="item">
            <div class="wrapper">
                <span class="square one"></span>
                <span class="square two"></span>
                <span class="square three"></span>
                <span class="square four"></span>
                <p class="title"><strong>03</strong>Occupation <span>Certificate</span></p>
                <span class="svgBox" data-svg="images/svg/occupation-certificate.svg"></span>
                <p class="details">Else we pay you interest @ SBI MCLR + 2% from expiry of grace period to offer of
                    possession.</p>
            </div>
        </div>

        //todo: repeat the carousel from slide
    </div>
</div>