<div class="downloadBlock">
    <h4>For more information on commercial properties download the pdf below</h4>
    <div class="btnWrap">
        <a href="javascript:void(0);" class="downloadBtn">Download Brochure
            <span class="download-icon">
                <img src="{{ directory }}/images/download.png" alt="download" />
            </span>
        </a>
    </div>
</div>